.sign {
    width: 100%;
    min-height: 60vh;
    display: inline-block;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: cover;
    opacity: 2;
    background-image: url("../image//cgs.webp");
}

.sign_box {
    width: 330px;
    min-height: 55vh;
    margin: 40px auto;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background-color: #fff;

}

.sign_heading {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bolder;
    padding: 15px;
    margin: 10px;
}

.sign_forms {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sigin_email {
    display: inline-block;
    padding: 10px;
    border: none;
}

.sigin_email>input {
    font-size: 15px;
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(92, 48, 48);
    border-radius: 10px;
}
.sigin_btn{
    font-size: 18px;
    width: 100%;
    padding: 4px;
    color: white;
    border: 1px solid rgb(27, 2, 246);
    background-color: blue;
    border-radius: 10px; 
    cursor: pointer;
}
